.navbar-transparent {
    background-color: transparent !important;
    border: none; 
}

.hero-background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/background.avif');
    background-size: cover;
    background-position: center;
    height: 60vh; 
    padding-top: 60px; 
}

.nav-link{
    font-size: 10px !important;
}


.btn-signup {
    font-size: 10px !important;
}

.btn-signup-color{
    font-size: 10px !important;
    color: white !important;
    background: linear-gradient(45deg, rgb(207, 81, 53), rgb(230, 164, 74));
    border: none !important;
}

.card-orange {
    background-color: rgb(230, 164, 76) !important;
}

.btn-orange {
    background-color: rgb(230, 164, 76) !important;
    color: white !important;
}

section {
    margin-top: -8%;
}

.icon-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4.5px solid rgb(230, 164, 76);
    background-color: transparent;
}

.brand-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(207, 81, 53), rgb(230, 164, 74));
    mask: radial-gradient(farthest-side, transparent calc(100% - 4.5px), white calc(100% - 4.5px));
}